/* Global Style */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  background-color: #fd6e0a;
  color: #fff;
  padding: 18px 35px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}
button a {
  text-decoration: none;
  color: #fff;
}
.btn-primary:hover {
  background-color: #f55a0a;
}
.btn-secondary {
  background-color: #fff;
  color: #f55a0a;
  font-weight: bolder;
  padding: 16px 35px;
  border: solid 2px #f55a0a;
  border-radius: 5px;
  font-size: 18px;
  margin-left: 30px;
}
/* Nav Style */
.nav-title {
  font-size: 45px;
  font-weight: 900;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}
/* Banner section */
.banner {
  display: flex;
  margin: 0px 200px;
  align-items: center;
}
.banner-title {
  font-weight: 700;
  font-size: 85px;
}
.banner-subtitle {
  font-weight: 600;
  font-size: 45px;
}
.banner-text {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}
